body {
    background:#2E3436;
    color:#bfbfbf;
    font: 90%/1.462em "PT Sans", Arial, Helvetica, sans-serif;	
}

a, a:visited, a:hover {
    color:#dfdfdf;
    text-decoration:none;
    outline:0;
}

.about {
}
.about a {
  text-decoration: none;
  font-weight: bold;
}

.sidebar {
    position: fixed;
    left: 15px;
    top: 15px;
    width: 90px;
    font-family: Helvetica, sans-serif; }
.sidebar a {
    text-decoration: none; }
.sidebar img {
    padding: 0 3px;
    border: 0; }
.sidebar .avatar {
    padding: 0;
    margin-left: 2px;
    border-radius: 5px; }
.sidebar .name {
    text-transform: uppercase;
    margin: 10px 0 20px 0; }
.sidebar .name #fname {
    padding-left: 1px;
    font-size: 23px;
    letter-spacing: 5px;
    color: black; }
    .sidebar .name #lname {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black; }
.sidebar .meta a {
    margin-left: 0px;
    color: black; }
    .sidebar .meta a:hover {
    color: #227ce8; }
.sidebar .sections {
    margin: 15px 0 0 0; }
.sidebar .sections a {
    padding: 3px 0;
    display: block; }
.sidebar .sections a:hover {
    color: #dfdfdf; }
.sidebar .sections ul {
    margin: 0;
    padding: 0; }
.sidebar .sections li {
    list-style: none;
    margin-bottom: 7px; }

.content {
  max-width: 800px;
  margin-top: 30px;
  margin-left: 110px;
  margin-right: 20px;
  margin-bottom: 50px; }
  .content h1 {
    font-weight: 400; }
  .content h1 a {
    color: #111;
    text-decoration: none; }
  .content h2 {
    color: #333;
    font-weight: 400; }
  .content h2 a {
    color: #111;
    text-decoration: none; }
  .content h3 {
    color: #333;
    font-weight: 400; }
  .content h3 a {
    color: #111;
    text-decoration: none; }
  .content h4 {
    color: #333;
    font-weight: 400; }
  .content h4 a {
    color: #111;
    text-decoration: none; }
  .content h1 {
    font-size: 36px;
    margin: 18px 0 5px 0; }
  .content h2 {
    font-size: 30px;
    margin-bottom: 15px; }
  .content h3 {
    color: #777;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .content p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em; }
    .content p code {
      font-size: 12px;
      background-color: #2E3436;
      border: 2px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
  .highlight {
      font-size: 12px;
      background-color: #2E3436;
      border: 2px solid #777777;
      border-radius: 3px;
      padding: 2px 3px; }
  .content blockquote {
    font-style: italic;
    font-size: 14px;
    padding: .25em 1em;
    margin: 1em 1em 0 1em;
    color: #444; }
    .content blockquote cite:before {
      content: '— '; }
    .content blockquote cite {
      display: block;
      margin-top: .5em;
      text-align: right;
      color: #111;
      font-style: normal; }
  .content .listing {
    margin: 10px 0 0 0;
    padding: 0; }
    .content .listing ul {
      margin: 0;
      padding: 0; }
    .content .listing li {
      font-size: 15px;
      list-style: none;
      padding: 5px 3px;
      margin: 0;
      color: #777777;
      border-bottom: 1px solid #eee; }
    .content .listing li span {
      float: right; }
    .content .listing a {
      text-decoration: ; }
      .content .listing a:hover {
        text-decoration: underline; }
